pandas==2.3.3
mlflow==3.10.0
matplotlib==3.10.8
seaborn==0.13.2
wordcloud==1.9.6
ipython==8.12.3
torch==2.8.0
transformers==4.56.2
numpy==2.3.3
scikit_learn==1.7.2
mlflow_skinny==3.10.0
mlflow_tracing==3.10.0